/*** RESET CSS ***/

@import 'reset';



/**** FONT *****/

@font-face {
  font-family: "VCR";
  src: url("../fonts/vcr.woff") format("woff");
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("../fonts/RobotoCondensed-Regular.woff") format("woff");
}

@font-face {
  font-family : "DecathlonCube_dp";
  src : url("../fonts/ms-icons-regular.ttf") format("truetype");
}


.dp {

  /************************************
  MAIN CSS
  ************************************/


  /***** JUMBOTRON *****/


  .dp_jumbotron {

    background-image: url('../img/main-background.gif');
    background-position: bottom;
    background-size:cover;
    background-repeat: no-repeat;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:80px 0px 0px 0px;
    position:relative;
    z-index:1;

    .dp_container-jumbo {
      display:flex;
      width:100%;
      align-items: flex-start;
      justify-content: center;
      align-content:stretch;
      flex-direction:column;


      .dp_logo {
        max-width:170px;
        margin-left:50px;
      }



      figure.logo_carve540 {
        background-color : #ccffff;
        transform: rotate(-1deg);
        max-width: 450px;
        margin-left: 10px;
        padding-left:5px;
        margin-top:-10px;
      }

      figure.logo_carve540 img {
        margin-left:-10px;
        transform: rotate(-2deg);
        background-color: #ffcccc;
      }

      figure.logo_carve540 img::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #FECDC9;
        transform:rotate(-2deg);
        z-index:1;
      }
    }

    .container.dp_cta-btn a {
      margin-left: 25%;
    }

    .container.dp_cta-btn {
      display: flex;
      width: 100%;
      align-items: flex-start;
      padding-right: 25%;
      margin-top:30px;
    }

  }

  /*******************************
  ********* MAIN CONTENT *********
  *******************************/

  .main_content {
    background-image: url('../img/wave-background.jpg');
    background-size:cover;
    margin-top:-250px;
    padding-top:230px;

    /******* CARVE 540 ********/

    .dp_carve540 {
      
      flex-direction:column;
      background-color:white;
      box-shadow:0px 10px 20px rgba(0,0,0,0.3);
      padding: 80px 120px 60px;

      .logo {
        figure {
          max-width:60%;
          margin:auto;
        }
      }

      .board {
        padding : 70px 0px;
        figure {
          max-width:75%;
          margin:auto;
        }
      }

      .description {
        p {
          text-transform:uppercase;
          font-size:22px;
          line-height:26px;
          font-weight:800;
          text-align:center;
        }
      }

      .scroll_down {
        padding-top:10px;
        figure {
          max-width:70px;
          margin:auto;
        }
      }
    }
  }






  /******* CONCEPTION  ********/

  .vertical-img img {
    height:100%;
    width:100%;
  }
  @media (min-width: 767.98px) {
    .vertical-img {
      margin-top:12.5%;
      z-index:1;
    }

    .vertical-img figure {
      display:flex;
    }

    .conception-img {
      display:flex;
      flex-direction: column;
    }

    .conception-img img {
      max-width: 150%;
      float: right;
      z-index: -1;
    }

    .conception-img h3 {
      margin: -60px 0px 0px -30px;
      width: 75%;
      padding: 10px 5px 10px 30px !important;
      background-color: white;
      font-size: 1.7rem;
    }

    .conception-img p {
      max-width:80%;
    }

  }

  .conception-img::before {
    background-image: url(../img/motif-reverse.png);
    background-repeat: no-repeat;
    background-position: left;
    content : " ";
    position: absolute;
    bottom:17%;
    height: 50px;
    width: 837px;
    right: -150%;
    z-index: 3;
  }


  /******* VIDEO  ********/

  .dp_video h2 {
    text-align:right;
  }

  .video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
  }
  .video figure {
    overflow: hidden;
    position: absolute;
    z-index: 3;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
  }

  .video figure img {
    height: 100%;
    width: auto;
    max-width: 120%;
  }

  .video figure .fas {
    color: white;
    font-size: 135px;
    position: absolute;
    left: 45%;
    top: 40%;
    z-index:10

  }

  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /******* PARALLAX  ********/


  .parallax {
    max-width:100%;
    /* The image used */
    background-image: url("../img/parralax-background.jpg");

    /* Set a specific height */
    height: 400px;
    margin-top:120px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media (min-width:980px) {
    .parallax {
      background-attachment: fixed;
    }
  }


  /*********** LA GAMME ******************/

  .crush500 a {
    padding: 10px 25px 10px 15px;
    background-color: #ffea28;
    color: #333333;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "RobotoCondensed", sans-serif;
    position: relative;
    font-size: 12px;
  }

  .crush500 .product-price {
    text-align:center;
    margin-bottom: 40px;
  }

  .crush500 .product-price span {
    text-align:center;
    font-family: "RobotoCondensed", sans-serif;
    font-weight:700;
    font-size:38px;
    padding : 6px 30px 10px;
    background-color : #ffea28;
  }

  .products {
    display:flex;
  }

  @media (min-width:980px) {

    .products img {
      max-width:170%;
    }
    .products #ad_black {
      z-index:5;
    }
    .products #ad_kaki {
      z-index:4;
    }

    .products #jr_black {
      z-index:3;
    }
    .products #jr_kaki {
      z-index:2;
    }
    .products .even img {
      margin-left:-30%;
    }

    .crush500 .single-product .product-cta {
      text-align:right;
    }


    /**** END DESKTOP ****/
  }

  .single-product {
    margin-bottom:40px;
  }

  .single-product.even .product-label {
    position:absolute;
    right:0px;
    top:15%;
  }

  .single-product.odd .product-label {
    position:absolute;
    left:0px;
    top:5%;
  }

  .single-product figure {
    margin-top:52px;
  }
  .single-product.odd .product-label span {
    text-align:left;
  }

  .single-product.even .product-label span {
    text-align:right;
  }

  .single-product .product-label span {
    font-family: "RobotoCondensed", sans-serif;
    text-transform:uppercase;
    font-weight:700;
    display:block;
    font-size:20px;
  }

  .single-product .product-label span.product-description {
    font-family : "RobotoCondensed";
    font-weight:400;
    font-style: italic;
  }
  .single-product .product-cta {
    text-align:center;
  }
  .dp_gamme figure {
    margin-bottom: 25px;
  }


  /****************************************
  MOBILE CSS
  *****************************************/


  @media (max-width: 767.98px) {

    /**** GENERIQUE ****/
    h2 {
      font-size:40px;
    }

    a {
      font-size:11px;
    }

    a:before {
      font-size:1em;
      margin-top:1px;
    }

    p br {
      display:none;
    }

    /****** JUMBOTRON ******/

    .dp_container-jumbo {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
      align-content: stretch;
      flex-direction: column;
      margin-top: 25%;
    }

    .dp_jumbotron h1 {
      margin-top:0px;
      font-size:4rem;
    }


    /******** CRUSH500 RESPONSIVE *************/

    #dp_motif-right::before {
      left: 15px;
    }

    .dp_link-row {
      text-align:left;
    }

    /******* CONCEPTION RESPONSIVE ********/

    .conception-img::before {
      right: 0;
      bottom: 30%;
      z-index: -3;
    }

    /************ PARALLAX RESPONSIVE ******/

    .parallax {
      background-image: url("../img/parralax-background_mobile.jpg");
    }

    /*********** VIDEO RESPONSIVE *******/
    .dp_video h2 {
      text-align:left;
    }

    .video figure .fas {
      font-size: 55px;
      left: 45%;
      top: 35%;
    }

    /************* LA GAMME RESPONSIVE  ****************/

    .products {
      display: flex;
      flex-direction: column;
      margin-bottom: 75px;
    }




  }



  /****************************************
  IPAD
  *****************************************/

  @media only screen and (min-width : 768px) and (max-width : 1024px) {


    /********** CRUSH 500 ************/

    #dp_motif-right::before {
      left: 0;
    }
    /****** CONCEPTION ******/

    .conception-img h3 {
      width: 100%;

    }

    .conception-img::before {
      position: absolute;
      bottom: -30px;
      width: 837px;
      height: 50px;
      z-index: -1;
    }
    /******* LA GAMME ******/

    .single-product .product-label span {
      font-size: 15px;
    }

    .crush500 a {
      font-size: 8px;
    }

    .products img {
      max-width:170%;
    }
    .products #ad_black {
      z-index:5;
    }
    .products #ad_kaki {
      z-index:4;
    }

    .products #jr_black {
      z-index:3;
    }
    .products #jr_kaki {
      z-index:2;
    }
    .products .even img {
      margin-left:-30%;
    }

    .crush500 .single-product .product-cta {
      text-align:right;
    }


  }

  /****************************************
  BIG SCREEN
  *****************************************/

  @media (min-width: 1550px) {

    .dp_jumbotron .container.dp_cta-btn {
      padding-right: 15%;
    }

  }




  /******* ANIMATION JQUERY ************/

  #dp_motif-right, .crush500-text_2, .crush500_2, .crush500_3  {
    display : none;
  }



  /***** MOBILE // Animation Jquery *****/
  @media (max-width: 767.98px) {

    .motif-right {
      margin-top:500px;
    }

    .dp_crush500 .row {
      flex-direction: column-reverse;
    }

    .dp_crush500 figure.crush500_2 img {
      position: absolute;
      top: 85%;
      left:0;
    }

    .dp_crush500 figure.crush500_3 img {
      position: absolute;
      top: -80%;
      left:0;
    }

    .dp_link-row.desktop {
      opacity:0 !important;
    }

    .dp_link-row.mobile {
      padding-left:0px !important;
    }


  }

  @media (min-width : 768px) {
    .dp_link-row.mobile {
      opacity:0 !important;
    }
  }


}
