/*** RESET CSS ***/

@import 'reset';



/**** FONT *****/

@font-face {
  font-family: "VCR";
  src: url("../fonts/vcr.woff") format("woff");
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("../fonts/RobotoCondensed-Regular.woff") format("woff");
}

@font-face {
  font-family : "DecathlonCube_dp";
  src : url("../fonts/ms-icons-regular.ttf") format("truetype");
}



.dp {




  /************************************
  MAIN CSS
  ************************************/


  /***** JUMBOTRON *****/


  .dp_jumbotron {

    background-image: url('../img/main-background.gif');
    background-position: bottom;
    background-size:cover;
    background-repeat: no-repeat;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:80px 0px 0px 0px;
    position:relative;
    z-index:1;

    .dp_container-jumbo {
      display:flex;
      width:100%;
      align-items: flex-start;
      justify-content: center;
      align-content:stretch;
      flex-direction:column;


      .dp_logo {
        max-width:170px;
        margin-left:50px;
      }



      figure.logo_carve540 {
        background-color : #ccffff;
        transform: rotate(-1deg);
        max-width: 450px;
        margin-left: 10px;
        padding-left:5px;
        margin-top:-5px;
      }

      figure.logo_carve540 img {
        margin-left:-10px;
        transform: rotate(-2deg);
        background-color: #ffcccc;
      }

      figure.logo_carve540 img::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #FECDC9;
        transform:rotate(-2deg);
        z-index:1;
      }
    }

    .container.dp_cta-btn a {
      margin-left: 25%;
    }

    .container.dp_cta-btn {
      display: flex;
      width: 100%;
      align-items: flex-start;
      padding-right: 25%;
      margin-top:30px;
    }

  }

  /*******************************
  ********* MAIN CONTENT *********
  *******************************/

  .main_content {
    background-image: url('../img/wave-background.jpg');
    background-size:cover;
    margin-top:-250px;
    padding-top:70px;




    /******* CARVE 540 ********/

    .dp_carve540 {

      flex-direction:column;
      background-color:white;
      box-shadow:0px 10px 20px rgba(0,0,0,0.3);
      padding: 120px 5% 60px;

      .logo {
        figure {
          max-width:60%;
          margin:auto;
        }
      }

      .board {
        padding : 70px 0px;
        figure {
          max-width:75%;
          margin:auto;
          position:relative;
          figure.trigger {
            position: absolute;
            max-width: 70px;
            top: 25%;
            left: 25%;
            cursor:pointer;

            -webkit-animation-name: pulse;
            animation-name: pulse;
            -webkit-animation-duration: 1s;
            -webkit-animation-iteration-count: infinite;
          }
        }
      }

      .description {
        figure {
          margin:auto;
          max-width:150px;
        }
        p {
          text-transform:uppercase;
          font-size:22px;
          line-height:26px;
          font-weight:800;
          text-align:center;
        }
      }

      .scroll_down {
        padding-top:10px;
        figure {
          max-width:70px;
          margin:auto;
        }
      }
    }




    /******* MOVIES  ********/

    .movies {
      padding-bottom:120px;
      margin-bottom:0px;
      position:relative;

      .pop-up {
        display:none;
        z-index:99;
        position:absolute;
        overflow: hidden;
        padding-top: 56.25%;
        width:100%;

        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border: 0;
        }

        img{
          position: absolute;
          z-index: 99999;
          width: 30px;
          top: 0px;
          right: 0px;
          cursor: pointer;
        }
      }
      .title {
        margin-bottom:20px;
        position:relative;
        z-index:2;
        figure {
          max-width:25%;
        }
      }

      .videos {
        position:relative;
        padding : 0px;

        &:before {
          content :"";
          height:250px;
          width:92%;
          position:absolute;
          top:-40px;
          right:-20px;
          background-color:#ccffff;
        }

        figure {
          position:relative;
          background-color : #ccffff;



          figcaption {
            position : absolute;
            top:40%;
            color:white;
            width:100%;
            text-align: center;
            font-family : "RobotoCondensed";
            font-style: italic;
            font-weight:600;
            font-size:30px;
            line-height:36px;
            text-transform:uppercase;
            text-shadow:1px 1px 3px rgba(0,0,0,0.3);
            cursor:pointer;
          }
        }

      }

      .legende {
        padding:0px;
        p {
          margin-top:0px;
          padding: 20px 30% 20px 20px ;
          background-color : #ccffff;
          font-weight:600;
        }
      }

    }

  }



  /************************
  *********** PARALLAX
  *************************/

  @-webkit-keyframes MOVE-BG {
    from {
      -webkit-transform: translateX(0);
    }
    to {
      -webkit-transform: translateX(-187%);
    }
  }


  .parallax {


    margin-top:-80px;
    height: 800px;

    position: relative;
    z-index:9999;

    .parallax_bg {
      background-image: url("../img/parallax.png");
      background-repeat: repeat-x;
      position: absolute;
      left: 0;
      right: -5500000px;
      top: 0;
      bottom: 0;
      z-index: 9999;

      -webkit-animation-name: MOVE-BG;
      -webkit-animation-duration: 500000s;
      -webkit-animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;

    }
  }



  /************************
  *********** SLIDER_PRODUCT
  *************************/


  .slider_product {
    margin-top:-150px;
    padding:200px 0px 20px;
    position:relative;
    -webkit-transition :background-color 2s;
    transition: background-color 2s;
    &.pink {
      background-color:#ffcccc;
    }
    &.green {
      background-color:#72b79b;
    }
    &.yellow {
      background-color:#e1cb4b;
    }



    .container {
      position:relative;

      .controls {

        .nav {
          display:flex;
          position:absolute;
          align-items: center;
          top:50%;
          &.prev {
            left:0;
          }
          &.next {
            right:0;
          }

          figure {
            max-width:30px;
          }

          span {

            font-family : "RobotoCondensed";
            font-weight:bold;
            font-style: italic;
            margin-bottom:5px;
            font-size:16px;
            line-height:20px;
            text-transform: uppercase;
            margin-left:15px;

          }
        }
      }

      .product_slide {

        position:absolute;
        max-width:90%;

        .col-md-6 {
          display:flex
        }
        .product_img {
          justify-content: flex-end;
          align-items: flex-end;

          figure.product {
            max-width:70%;
            margin:0;
            position:relative;
            z-index:2
          }

          figure.background {
            position: absolute;
            right: -90%;
            top: 25%;
            max-width: 550px;
            width: 550px;

          }
        }

        .product_info {

          flex-direction: column;
          justify-content: center;
          align-content: center;

          figure {
            max-width:80%;
            margin:auto;
          }

          figure.oxelo_logo {
            max-width:30%;
            float:right;
            margin-right:10%;
            margin-bottom:55px;
          }


          .product_price {
            text-align:center;
            margin-bottom: 75px;

            span {
              text-align:center;
              font-family: "RobotoCondensed", sans-serif;
              font-weight:700;
              font-size:45px;
              padding : 6px 30px 10px;
              background-color : #ffea28;
            }
          }

          a {
            padding: 10px 35px 10px 15px;
            background-color: #ffea28;
            color: #333333;
            text-transform: uppercase;
            font-weight: 700;
            font-family: "RobotoCondensed", sans-serif;
            position: relative;
            font-size: 12px;
          }

        }


      }


    }







  }




  /****************************************
  MOBILE CSS
  *****************************************/


  @media (max-width: 767.98px) {


  }



  /****************************************
  IPAD
  *****************************************/

  @media only screen and (min-width : 768px) and (max-width : 1024px) {
  }




}
